.products {
  text-align: center;
  margin: 0;
}

.product-wrap {
  max-width: 960px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.card {
  width: 75%;
  display: flex;
  padding: 30px 0px;
  background: #fff;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  margin: 30px 0 40px 0;
}

.card-product-left {
  width: 63%;
  border-right: 1px solid #e0e0e0;
  float: left;
}

.card-product-left h1 {
  font: 30px "Flame-Regular";
  text-transform: capitalize;
  text-align: center;
  color: #502314;
  margin: 0px 10px;
}

.prod-desc {
  font: 14px "Flame-Sans";
  text-align: center;
  width: 85%;
  margin: 10px auto 20px;
}

.card-product-left img {
  margin-bottom: 20px;
  text-align: center;
  object-fit: cover;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.card-product-right {
  width: 37%;
  padding: 0 20px;
  box-sizing: border-box;
  float: right;
}

.price-prod {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.price-prod .discount {
  font-family: "Flame-Regular";
  font-size: 28px;
  color: #D72300;
  margin: 0 8px 0 0;
  float: left;
}

.price-prod .original {
  font-family: "Flame-Regular";
  text-decoration: line-through;
  font-size: 14px;
  color: #9F816F;
  font-weight: bold;
  margin-bottom: 2px;
}

.quantity-wrap {
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quantity {
  display: flex;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.button-min {
  margin-right: -5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  height: 27px;
  outline: none;
  width: 35px;
  padding: 0;
  color: #ED7801;
}

.button-plus {
  margin-left: -1px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  height: 27px;
  outline: none;
  width: 35px;
  padding: 0;
  color: #ED7801;
}

.input-qty {
  width: 100%;
  font-size: 17px;
  color: black;
  font: 15px "Flame-Sans";
  height: 25px;
  margin-bottom: 0px;
  padding: 3px 8px;
  text-align: center;
  min-width: 20px;
  border: none;
  box-sizing: initial;
  background: transparent;
}

.button-add-to-cart {
  width: 100%;
  margin-top: 25px;
  font: 16px "Flame-Regular";
  padding: 10px;
  background-color: #ed7801;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}